.card {
  width: 200px;
  height: 100px;
  padding-top: 20px;
  background-color: white;
  cursor: pointer;
}

.selected {
  background-color: rgb(240 240 240);
}

.name {
  font-weight: bold;
}
.card p {
  margin-left: 100px;
}
